.container {
  background-color: white;
  display: flex;
  justify-content: center;
}

.wrapper {
  background-color: white;
  width: 1400px;
  max-width: 1400px;
  padding: 5px;
  display: flex;
  border-radius: 15px;
}

.sidebar {
  background-color: white;
  flex: 1 1 0;
  overflow: auto;
  height: 100vh;
  position: fixed;
  top: 81px;
  bottom: 200px;
}

.main {
  flex: 6 1 0;
  padding: 5px;
}
