.container {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex: 1;
}

.wrapper {
  background-color: white;
  width: 1400px;
  max-width: 1400px;
  padding: 5px;
  display: flex;
  border-radius: 15px;
  flex-direction: row;
  flex: 1;
}

.sidebar {
  background-color: white;
  flex: 1 1 0;
}

.main {
  flex: 6 1 0;
  padding: 5px;
}
