* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-size: 14px; */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}

video {
  object-fit: cover;
}

/* .ant-form-item {
  margin-bottom: 0px !important;
} */

.ant-layout-footer {
  padding: 10px 10px !important;
}

.site-description-item-profile-wrapper {
  margin-bottom: 7px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5715;
}

.ant-drawer-body p.site-description-item-profile-p {
  display: block;
  margin-bottom: 16px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  line-height: 1.5715;
}

.site-description-item-profile-p-label {
  display: inline-block;
  margin-right: 8px;
  color: rgba(0, 0, 0, 0.85);
}

/* yourStyles.css */
.small-countdown .ant-statistic-content-value {
  font-size: 20px;
}

.comment-content {
  max-height: 40px; /* Chiều cao tối đa của bình luận */
  overflow: hidden; /* Ẩn nội dung vượt quá chiều cao */
  text-overflow: ellipsis; /* Thêm dấu "..." khi nội dung bị cắt */
  white-space: nowrap; /* Không ngắt dòng */
}

.comment-content.expanded {
  max-height: none; /* Mở rộng chiều cao khi bình luận được mở rộng */
  white-space: normal; /* Ngắt dòng khi mở rộng */
}

/* Thay đổi định dạng cho màn hình nhỏ */
@media (max-width: 470px) {
  * {
    font-size: 12px !important;
  }
  .productDevelopment {
    font-size: 20px !important;
  }
  .membersOnBoards {
    font-size: 20px !important;
  }
  .newBoards {
    display: none !important;
  }
}
