.wrapper {
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.cardContainer {
  padding: 0px;
  width: 100%;
}

.completedCircle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: lightgray;
  display: inline-block;
  cursor: pointer;
}

.completed {
  background-color: rgb(46, 223, 46);
}

@media (max-width: 992px) {
  .cardContainer {
    width: 768px;
  }
}

@media (max-width: 768px) {
  .cardContainer {
    width: 576px;
  }
}
@media (max-width: 576px) {
  .cardContainer {
    width: 360px;
  }
}
